#book-details{
    background:linear-gradient(to bottom, #f3f7f6 40%, #7b7e7e 100%);
    
    
}
.single-book-main{
    margin-top: 7%;
}
#main-button{
    box-shadow: 0px 4px 6px 0px #818485;
    background:linear-gradient(to bottom, #8dc2b5 20%, #5b5f5f 100%);
    background-color:#f0eace;
    display:inline-block;
    color:white;
    border: none;
    font-size:20px;
   
    
}

#main-button:hover {
    background:linear-gradient(to bottom,  #585c5c 20%, #f1e1cf 100%);
    
}
#buttons{
    position: relative;
}
.author{
color: rgb(145, 138, 129);
}

#container-reviews {
    background-color: #828585;
}
.single-review{
    background:linear-gradient(to bottom,   #f5f2f0  20%, #c0bebc 100%);
    
}
#button-check, #button-edit, #button-trash {
    opacity: 0.5;
justify-content: center;
    padding-right: 20px;
    padding-left: 25px;
    
}

#button-check:hover, #button-edit:hover, #button-trash:hover {
    opacity: 1;
}

#like:hover, #dislike:hover {
color: rgb(32, 143, 100)
}

.react-stars-wrapper-09377180494521766{
    border: none;
}
.undefined react-stars{
    align-content: center;
}
#edit-delete-buttons{
    padding-right: 5px;
    padding-left: 6px;
}