
navbar-brand{
   color:white;
}
#input-field{
   float: right;
}
.nav-bar-link{
   color: black;
}

nav#nav-bar {
   position: relative;
}
/* .profile{
   margin-right: 200px;
} */

.drop-container{
   transform: translate3d(-103px, 39px, 0px) !important;
}