#home-button {
   margin-right: 1350px
}

#search-button {
    margin-right: 10px;
 }

 #profile-button {
    margin-left: 0px
 }

 #search-input {
    
    color: white;
    border: none;
    margin-right: 240px;
    height: 27px;
    width:350px;
    border-radius: 10px;
    background-color: white;
    opacity: 0.4;
}

 .navBar {
    display: grid;
    text-align: center;
    width: 100%;
    opacity: 0.85;
} 
#NB{
    background-color: #50483e;
    

}