input[type=text] {
    padding: 12px 20px;
    margin: 12px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 280px
}

input[type=password] {
    padding: 12px 20px;
    margin: 12px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 280px
}

.registerUserButton {
    height: 43px;
    width: 130px;
    border-radius: 5px;
    margin: 40px auto;
    background-color: #4A85E0;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    transition: 0.4s;

}

.registerUserButton:hover {
    background-color: #7EA9EB;
}

.registerUserButton:active {
    background-color: #4A85E0;
}


.registerForm {
    position: fixed;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 1px solid #cccccc;
    padding:65px;
    border-radius: 6px;
    box-shadow: 2px 3px #ccc;
}

h1 {
    padding-bottom:30px;
}