
.cardBook {
    margin: 55px ;
} 

.font-weight-bold {
    font-size: 20px;
}

#bookImageContainer {
    height: 450px;
    width:240px;
    align-items: center;
}

#main-button{  
    background:linear-gradient(to bottom, #f0e6da 20%, #969b9b 100%);
    background-color:#f0eace;
    display:inline-block;
    border: none;
    font-size:8px;
   
    
}
#main-button:hover {
    background:linear-gradient(to bottom,  #7f8585 20%, #f1e1cf 100%);
    
}

.card-img-top{
    max-width: 300px;
}